.godot/
bin/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*cs.uid
*.user
*.DotSettings.user

# Compiled mod
*.pck

# Resource directory
sts2_char_portalcraft/
!sts2_char_portalcraft/localization/
!sts2_char_portalcraft/localization/**

# NuGet
*.nupkg